<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/Changepassword_get/">change password</a><br>
<a href="/myapp/companyview_get/">company view</a><br>
<a href="/myapp/guideview_get/">guide view</a><br>
<a href="/myapp/viewApprovedCompany_get/">view approved company</a><br>
<a href="/myapp/viewApprovedGuide_get/">view approved guide</a><br>
<a href="/myapp/viewRegisteredUsers_get/">view registerd users</a><br>
<a href="/myapp/motivationalVideo_get/">Motivational Videos</a><br>
<a href="/myapp/adminlogout/">log out</a><br>



</body>
</html>